@{
    var userRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h3>ADMIN PANEL</h3>
    </div>
    <ul class="sidebar-menu">
        @* Dashboard - Chỉ Admin *@
        @if (userRole == "Admin")
        {
            <li>
                <a asp-controller="BaoCao" asp-action="Index">
                    <i class="bi bi-speedometer2"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
        }

        @* Menu cho Admin và Staff *@
        @if (userRole == "Admin" || userRole == "Staff")
        {
            <li>
                <a asp-controller="QuanLyHopDong" asp-action="Index">
                    <i class="bi bi-receipt"></i>
                    <span class="menu-text">Quản lý thuê</span>
                </a>
            </li>
            <li>
                <a asp-controller="Xe" asp-action="Index">
                    <i class="bi bi-scooter"></i>
                    <span class="menu-text">Quản lý xe</span>
                </a>
            </li>
            <li>
                <a asp-controller="LoaiXe" asp-action="Index">
                    <i class="bi bi-people"></i>
                    <span class="menu-text">Quản lý loại xe</span>
                </a>
            </li>
            <li>
                <a asp-controller="QuanLyChiTieu" asp-action="Index">
                    <i class="bi bi-wallet2"></i> <span class="menu-text">Quản lý chi tiêu</span>
                </a>
            </li>
        }

        @* Quản lý người dùng - Chỉ Admin *@
        @if (userRole == "Admin")
        {
            <li>
                <a asp-controller="QuanLyUser" asp-action="Index">
                    <i class="bi bi-people-fill"></i>
                    <span class="menu-text">Quản lý người dùng</span>
                </a>
            </li>
        }
    </ul>
</div>