@model bike.Models.LoaiXe

@{
    ViewData["Title"] = "Xóa loại xe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<h4>Bạn có chắc chắn muốn xóa loại xe này?</h4>
<div>
    <h5>@Model.TenLoaiXe</h5>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLoaiXe" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Không xóa</a>
    </form>
</div>


